version: "3.8"
services:
  caddy:
    image: viv32/caddy-porkbun:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      # Public HTTP Port
      - 80:80
      - 443:443
      - 81:81
    environment:
      TZ: ${TIMEZONE}
      PUID: 1000
      PGID: 1000
      PORKBUN_API_KEY: ${PORKBUN_API_KEY}
      PORKBUN_API_SECRET_KEY: ${PORKBUN_API_SECRET_KEY}
      PI_HOST: ${PI_HOST}
      SERVER_MACHINE_IP: ${SERVER_MACHINE_IP}
      PC_HOST: ${PC_HOST}
    volumes:
      - /home/docker/appdata/caddy/data:/data
      - ./config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile
