{
	acme_dns porkbun {
		api_key {env.PORKBUN_API_KEY}
		api_secret_key {env.PORKBUN_API_SECRET_KEY}
	}
}

*.getboolean.dev *.getboolean.org *.home.getboolean.dev *.home.getboolean.org {
	@nginx host nginx.home.getboolean.dev nginx.home.getboolean.org
	handle @nginx {
		reverse_proxy {env.PI_HOST}:81
	}

	@pihole host pihole.home.getboolean.dev pihole.home.getboolean.org
	handle @pihole {
		reverse_proxy {env.PI_HOST}:82
	}

	@portainer host portainer.home.getboolean.dev portainer.home.getboolean.org
	handle @portainer {
		reverse_proxy {env.PI_HOST}:9443
	}

	@piwireguard host piwireguard.getboolean.dev piwireguard.getboolean.org
	handle @piwireguard {
		reverse_proxy {env.PI_HOST}:51821
	}

	handle host jellyfin.getboolean.dev jellyfin.getboolean.org jellyfin.home.getboolean.dev jellyfin.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:8096
	}

	handle host heimdall.getboolean.dev heimdall.getboolean.org heimdall.home.getboolean.dev heimdall.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:35465
	}

	handle host homarr.getboolean.dev homarr.getboolean.org homarr.home.getboolean.dev homarr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:7575
	}

	handle host organizr.getboolean.dev organizr.getboolean.org organizr.home.getboolean.dev organizr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:35445
	}
	
	handle host headphones.home.getboolean.dev headphones.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:24567
	}
	
	handle host audiobookshelf.getboolean.dev audiobookshelf.getboolean.org audiobookshelf.home.getboolean.dev audiobookshelf.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:13378
	}
	
	handle host navidrome.getboolean.dev navidrome.getboolean.org navidrome.home.getboolean.dev navidrome.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:4533
	}
	
	handle host komga.getboolean.dev komga.getboolean.org komga.home.getboolean.dev komga.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:25600
	}
	
	handle host kavita-latest.getboolean.dev kavita-latest.getboolean.org kavita-latest.home.getboolean.dev kavita-latest.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:5424
	}

	handle host freshrss.getboolean.dev freshrss.getboolean.org freshrss.home.getboolean.dev freshrss.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:39412
	}
	
	handle host mealie.getboolean.dev mealie.getboolean.org mealie.home.getboolean.dev mealie.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:9925
	}

	handle host autobrr.home.getboolean.dev autobrr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:7474
	}
	
	handle host bazarr-tv.home.getboolean.dev bazarr-tv.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:6768
	}
	
	handle host bazarr.home.getboolean.dev bazarr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:6767
	}
	
	handle host flaresolverr.home.getboolean.dev flaresolverr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:8191
	}
	
	handle host jellyseerr.home.getboolean.dev jellyseerr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:5055
	}

	handle host jellystat.home.getboolean.dev jellystat.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:3001
	}
	
	handle host prowlarr.home.getboolean.dev prowlarr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:9177
	}
	
	handle host lidarr.home.getboolean.dev lidarr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:8686
	}
	
	handle host readarr-ab.home.getboolean.dev readarr-ab.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:8788
	}
	
	handle host readarr.home.getboolean.dev readarr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:8787
	}

	# handle host kapowarr.home.getboolean.dev kapowarr.home.getboolean.org {
	# 	reverse_proxy {env.SERVER_MACHINE_IP}:43256
	# }

	handle host mylar.home.getboolean.dev mylar.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:52345
	}

	# handle host lanraragi.home.getboolean.dev lanraragi.home.getboolean.org {
	# 	reverse_proxy {env.SERVER_MACHINE_IP}:42686
	# }
	
	handle host lanraragi-eh.home.getboolean.dev lanraragi-eh.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:42687
	}
	
	handle host suwayomi.home.getboolean.dev suwayomi.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:42688
	}
	
	handle host radarr-theatre.home.getboolean.dev radarr-theatre.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:26433
	}
	
	handle host radarr.home.getboolean.dev radarr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:26432
	}
	
	handle host sonarr-tv.home.getboolean.dev sonarr-tv.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:8888
	}

	handle host sonarr.home.getboolean.dev sonarr.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:8989
	}

	handle host qbittorrent.home.getboolean.dev qbittorrent.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:14627
	}
	
	handle host sabnzbd.home.getboolean.dev sabnzbd.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:50193
	}
	
	handle host kavita.getboolean.dev kavita.getboolean.org kavita.home.getboolean.dev kavita.home.getboolean.org {
		reverse_proxy {env.SERVER_MACHINE_IP}:5423
	}
}